
/*---------------------MAIN-----CONTACTO----------------------------------------------*/

.fondocont{
    background-color: #ffb5eb69;
    background-image: url(../img/starfall-gif-5.gif.webp);
    width: 100%;
    height: 100%;
    
    }
    