* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*modifique el cursor*/
    cursor: url(../img/flecha.png), auto;
}

a {
    cursor: url(../img/mano.png), auto;
}

/*-------------------------------------------------------------------------*/





.contenedor-buscador {}

.contenedor-log-bu-ca {
    display: flex;
    width: 100%;
    background-color: rgb(21, 22, 47);
    text-align: center;
    padding: 25px 15px;
    justify-content: space-between;
    align-items: center;
}

.logotipo {
    border-radius: 3px;
    margin: 0px 0px 0px 20px;
    width: 100px;

}

.contenedor-imput {
    width: 100%;
    position: absolute;
}

.buscador-list {

    width: 50%;
    padding: 10px 5px;
    border-radius: 3px;
    -webkit-box-shadow: 10px 10px 25px -5px rgba(176, 86, 176, 1);
    -moz-box-shadow: 10px 10px 25px -5px rgba(176, 86, 176, 1);
    box-shadow: 10px 10px 25px -5px rgba(176, 86, 176, 1);
}

.lupita {
    width: 20px;
    position: relative;
    left: -30px;
    bottom: -5px;
    background-color: rgb(255, 255, 255);

}

.contenedor-carro {
    display: flex;
}

.carrito {
    /*no poner position absolut aca*/
    background-color: salmon;
    width: 60px;
    padding: 9px;
    border-radius: 15%;

}

.contador {
    width: 20px;
    color: #111;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: relative;
    margin: auto;
    top: -12px;
    left: -55px;
}

/*----------------------------------------------------------------------*/
.contenedor-lista {
    background-color: rgb(233, 214, 251);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid blanchedalmond;
    border-bottom: 1px solid blanchedalmond;

}

.idem {
    padding: 20px;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

a {
    text-decoration: none;
}

/*---------------------------------------------------------------------------------*/
.info-grupo {
    background-color: rgb(21, 22, 47);
    display: flex;
    flex-direction: row;
}

.datos {
    background-color: aliceblue;
}