* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*modifique el cursor*/
    cursor: url(../img/flecha.png), auto;
}

a {
    text-decoration: none;
    cursor: url(../img/mano.png), auto;

}

#botones {
    cursor: url(../img/mano.png), auto;
    font-size: 24px;
    background-color: aliceblue;
    border: black 2px solid;
    padding: 6px;
    border-radius: 11px;
}

input {
    cursor: url(../img/mano.png), auto;
}

#boton-curso-{

    cursor: url(../img/mano.png), auto;


}

/*-------------------------------------------------------------------------*/





.contenedor-buscador {
    position: relative;
    width: 100%;


}

.contenedor-log-bu-ca {
    display: flex;
    width: 100%;
    background-color: rgb(21, 22, 47);
    text-align: center;
    padding: 25px 15px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: row;
}

.logotipo {
    border-radius: 3px;
    margin: 0px 0px 0px 20px;
    width: 100px;
    position: relative;

}

.contenedor-imput {
    width: 100%;
    position: relative;

}

.buscador-list {
    position: relative;
    width: 50%;
    padding: 10px 5px;
    border-radius: 3px;
    -webkit-box-shadow: 10px 10px 25px -5px rgba(176, 86, 176, 1);
    -moz-box-shadow: 10px 10px 25px -5px rgba(176, 86, 176, 1);
    box-shadow: 10px 10px 25px -5px rgba(176, 86, 176, 1);
}

.lupita {
    width: 20px;
    position: relative;
    left: -30px;
    bottom: -5px;
    background-color: rgb(255, 255, 255);

}

.contenedor-carro {
    display: flex;



}

.carrito {
    /*no poner position absolut aca*/
    background-color: rgb(250, 114, 164);
    width: 60px;
    padding: 6px;
    border-radius: 15%;

}

.contador {
    width: 22px;
    color: #111;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: relative;
    margin: auto;
    top: -12px;
    left: -55px;
}

/*----------------------------------------------------------------------*/
.contenedor-lista {
    position: relative;
    background-color: rgb(233, 214, 251);
    align-items: baseline;
    border-top: 1px solid blanchedalmond;
    border-bottom: 1px solid blanchedalmond;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}

.idem {

    padding: 20px;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}



/*---------------------------------------------------------------------------------*/
.info-grupo {
    background-color: rgb(21, 22, 47);
    display: flex;
    flex-direction: row;
}

.datos {
    background-color: aliceblue;
}

.footerrrr {
    display: flex;
    width: 100%;
    background-color: rgb(11, 4, 18);
    padding: 16px;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;

}


.datos {
    width: 33%;
    padding: 20px;
    color: chocolate;
    font-family: cursive;
    border: solid black 2px;
    border-radius: 30px;
    position: relative;
}

.seccion-foter {
    width: 100%;
}