/*-------------------MAIN-GIFTCARD--------------------------------------------------------------------------------------------------*/
/*--------------body----------------*/
.fondito {
    background-color: rgba(0, 255, 247, 0.21);
}

/*------------------------------*/


/*-------------necesarios para la modificacion---------------------------------------------------------------------------------------*/
/*------------contenedor 1------------------*/
.texto {
    text-align: center;
}

.conte-completo-gf {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 45px;
    margin-bottom: 190px;
    text-align: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;

}

.contenedor1 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 50px;

}

.axol {
    width: 270px;
    height: 160px;
    margin-top: 30PX;
}

/*-----------vistaprevia es la gif vacia para modificar-------------------*/


.vista-previa {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: 350px;
    height: 350px;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-size: 35px;
    font-style: italic;
    font-weight: 900;
    box-shadow: 10px 10px 34px -2px rgb(35, 0, 25);
}


/*-------------es el texto modificable de la gif-----------------*/
.personalizacion-texto {
    position: relative;
    top: -16px;
    text-shadow: 1px -1px 14px #000;
}

/*-----------es el precio modificable de la gif-------------------*/
.vista-previa-precio {
    font-family: auto;
    font-size: 20px;
    display: inline-block;
    color: #000000;
    position: relative;
    background-color: rgb(255 255 255);
    /* border-radius: 26px 0px; */
    top: 45px;
    left: 198px;
    width: 42%;
    /* height: 9%; */
    text-align: center;
    /* margin: 10px; */
    padding: 10px;
    font-family: fantasy;
}

/*---------parrafo fijo --------------------------------------*/

.parrafo-final {
    margin-top: 48px;
    font-family: fantasy;
    font-size: 29px;
    background-color: #f1f1f1;
}


/*-------
.gif-para {
    position: relative;
    top: -49px;
}

.contenedor-de-gifcard {
    width: 350px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 22px 23px 49px 0px rgba(8, 0, 13, 0.91);
    margin-bottom: 80px;

}
---------*/

/*----------- formulario de la gif --------------------------------------------------------------------------------------------------*/
.contenedor2 {
    display: flex;
    width: 100%;
    position: relative;
    margin-left: 53px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* margin: 0em 0; */
    margin-bottom: 0.3em;
    /* align-content: center; */
    margin-bottom: 10px;
}




/*--------------circulo de colores---------------*/
.rosa {
    background-color: rgb(232, 0, 208);
    color: rgb(232, 0, 208);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 10px;
    border: solid black 1px;
}

.negro {
    background-color: black;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 10px;
    border: solid black 1px;
}

.blanco {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid black 1px;
    margin-bottom: 10px;
}

.azul {
    background-color: rgb(25, 0, 164);
    color: rgb(25, 0, 164);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 10px;
    border: solid black 1px;
}

.bordo {
    background-color: rgb(0, 197, 43);
    color: rgb(0, 197, 43);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 10px;
    border: solid black 1px;
}

.contenedor-de-colores {
    display: flex;
    width: 50%;
    margin-bottom: 10px;
    justify-content: center;
}

.contenedor-de-tamaño {
    display: flex;
    width: 50%;
    margin-bottom: 10px;
}

.tamaño {
    margin-bottom: 10px;
}

.monto-imput {
    margin-bottom: 10px;
}

.contenedor-posicion {
    display: flex;
    width: 50%;

}

.color-titulo {
    font-family: fantasy;
    font-size: 30px;
    margin-bottom: 2px;
}

.colorr {
    font-family: monospace;
    font-size: 24px;
    margin-bottom: 2px;
    font-style: italic;

}

.columna-posicion-ubicacion {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.tamaño-img-posi {
    width: 100px;


}

.boton-confirmar {
    margin-bottom: 10px;
}

#monto {
    font-size: 26px;
    padding: 3px;
    background-color: rgb(199, 171, 234);
}

#nombre {
    font-size: 26px;
    background-color: pink;
    padding: 7px;
    border-radius: 2pc;
}

/*NESESARIO PARA QUE JS FUNCIONE-----------------------------------------------------------------------------------------------------*/
/*------CLASES COLORES DE TEXTO PARA JS--------------*/


.colorfuente1 {
    color: rgb(232, 0, 208);
}

.colorfuente2 {
    color: black;
}

.colorfuente3 {
    color: rgb(255, 255, 255);
}

.colorfuente4 {
    color: rgb(25, 0, 164);
}

.colorfuente5 {
    color: rgb(0, 197, 43);

}

/*--------CLASES POSICIONES DE TEXTO PARA JS---------------------*/

.posi1 {
    border-radius: 0px 60px;
    font-family: auto;
    font-size: 20px;
    display: inline-block;
    color: #000000;
    position: relative;
    background-color: rgb(255 255 255);
    top: 45px;
    left: 1px;
    width: 42%;
    text-align: center;
    padding: 10px;
    font-family: fantasy;
}

.posi2 {
    font-family: auto;
    font-size: 20px;
    display: inline-block;
    color: #000000;
    position: relative;
    background-color: rgb(255 255 255);
    top: 348px;
    left: 2px;
    width: 42%;
    text-align: center;
    padding: 10px;
    font-family: fantasy;
    border-radius: 0px 61px;
}

.posi3 {
    font-family: auto;
    font-size: 20px;
    display: inline-block;
    color: #000000;
    position: relative;
    background-color: rgb(255 255 255);
    top: 45px;
    left: 203px;
    width: 42%;
    text-align: center;
    padding: 10px;
    font-family: fantasy;
    border-radius: 65px 0px;
}



/*---------CLASES TAMAÑO DE TEXTO PARA JS-------------------*/
.tamaño1 {
    font-size: 20px;
}

.tamaño2 {
    font-size: 28px;
}

.tamaño3 {
    font-size: 32px;
}

.tamaño4 {
    font-size: 48px;
}

.tamaño5 {
    font-size: 60px;
}

/*-----------CLASES FONDOS DE TEXTO PARA JS----------------------*/
.fondo1 {
    background-image: url(../img/gif1.jpg);

}

.fondo2 {
    background-image: url(../img/gif2.jpg);

}

.fondo3 {
    background-image: url(../img/gif3.jpg);

}

.fondo4 {
    background-image: url(../img/gif4.jpg);

}

.fondo5 {
    background-image: url(../img/gif5.jpg);

}

.fondo6 {
    background-image: url(../img/gif6.jpg);

}








/*-----------------MAIN---FORMULARIO----------------------------------------------------*/









/*-----------------MAIN-----DETALLE CURSO--------------------------------------------------*/
/* INFO CURSO*/
.contenedor-inf {
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    margin-bottom: 35px;
}

.contenedor-imagen {
    /* display: flex;
    align-items: center; */
    height: 200px;
    width: 200px;
    margin: 25px 20px;
}

.contenedor-inscripcion {
    margin-left: 40px;
    margin-top: 25px;
    display: table-footer-group;
    width: 400px;

}

.img {
    width: 100%;
    /* margin: 15px; */
    height: 100%;
    border: 5px solid black;

}



.cuadrito {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;


}


.datos-curso {
    font-size: 15px;
    text-align: start;
    padding-bottom: 15PX;

}

.titulo-dato-curso {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.letra-p-curso {
    padding-top: 5px;
}

.lista-principal {
    background-color: #ffffff;
    font-size: 18px;
    padding: 5px;
    border: 1px solid black;

}

.lista-contenidos {

    background-color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: 1px solid rgb(205, 138, 186);
    transform: scale(1)rotate(0deg) translate(0);
    transition: transform 1s;
    display: flex;
    justify-content: space-between;
    color: #ffffff;

}

.lista-contenidos:hover {
    transform: scale(1.1) rotate(2deg) translate(3px, 0px);
    background-color: rgb(248, 143, 178);
}

.video {
    color: #ffffff;
    font-style: initial;
    display: block;
    font-size: 20px;
}

.video:hover {
    color: rgb(0, 0, 0);


}

.video p {
    text-align: end;
}

.inscribirme {
    font-size: 13px;
    padding: 5PX;
    border-radius: 3PX;

}










/*---------------------MAIN-----CONTACTO----------------------------------------------*/
























/*-------------------------MAIN---------CALENDARIO--------------------------------------*/

.contenedor-calendario {
    width: 90%;
    margin: 1em auto;
    color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





/*----------------INDEX----------------------------------*/

/*---------CARRUCEL-------*/
.slider {
    width: 90%;
    margin: auto;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.carousel-control-prev {
    left: 0;
}

.portada-tamaño {
    width: 70%;
    position: absolute;


}


.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #000000;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

/*------------ver------------------------

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
}
------------------------------------------*/

button,
select {
    text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}

/*---------pasos----------*/
.contenedor-pasos {
    display: flex;
    flex-flow: row nowrap;
    place-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paso {
    width: 100%;
    height: 50%;
    margin: 10px;
}

/*---------CUADRITOS-----------------------*/
.contenedor-cuadrito-curso {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;


}

.contenedor-cuadrito {
    width: 275px;
    height: 350px;
    border: solid black 2px;
    border-radius: 20px 0px 30px;

    box-shadow: 8px 11px 18px 0px rgba(190, 170, 207, 1);
    margin: 20px;
    padding: 20px;
    background-color: rgb(152, 106, 175);
    position: relative;
}

.contenedor-img-cuadrito {
    width: 230px;
    height: 230px;
    border-radius: 20px 0px 30px;
    max-width: 100%;



}

.duracion {
    margin: 1px;
    font-family: fantasy;
}

.precio- {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    display: inline-block;
    color: #f3ff00;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 5px 0px;
    top: 16px;
    left: 5px;
}

.contenedor-informacion-cuadrito {

    position: relative;
    margin: 5px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.ver-detalle {

    display: block;
    text-align: right;
    margin: 10px 0px 5px 0px;
    color: rgb(255, 255, 255);

}

.tex-curso {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;

}

.tex-curso- {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

}

.hh5 {
    display: inline-block;
    font-family: cursive;
    font-size: 15px;


}

/*-------------------------MAIN---------detalle cursao--------------------------------------*/

.punto-medio{
display: flex;

}

.img-curso {

    margin-right: 27px;
    padding: 44px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

.contenedor-img-inf-curso {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    width: 30%;

}

.contenedor-detalles-importantes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 47px;

    flex-wrap: nowrap;
}