

/*-------------------MAIN-GIFTCARD---------------------------------------*/


.fondo1{
    background-image: url(../img/gif1.jpg);
}
.fondo2{
    background-image: url(../img/gif2.jpg);
}
.fondo3{
    background-image: url(../img/gif3.jpg);
}
.fondo4{
    background-image: url(../img/gif4.jpg);
}
.fondo5{
    background-image: url(../img/gif5.jpg);
}
.fondo6{
    background-image: url(../img/gif6.jpg);
}



.contenedor2{
    margin: 1em 0;
}
.contenedor2{
    margin-bottom: 0.3em;
}

.texto{
    text-align: center;
}
.vista-previa{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: 350px;
    height: 350px;
}


/*------------------------------------------------*/
.fondito{
    background-color: rgba(255, 6, 176, 0.101);
}
.conte-completo-gf{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 45px;
    margin-bottom: 190px;
    text-align: center;
    position: relative;
    flex-wrap: wrap;
    align-content: stretch;

}



.contenedor1{
display: flex;
flex-direction: column;
position: relative;
margin-right: 50px;

}
.contenedor-de-gifcard{
    width: 350px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 22px 23px 49px 0px rgba(8,0,13,0.91);
    margin-bottom: 80px;

}
.contenedor2{
    display: flex;
    width: 100%;
    position: relative;
    margin-left: 50px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.rosa{
    background-color: rgb(120, 0, 108);
    color: rgb(120, 0, 108);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 10px;

}
.negro{
    background-color: black;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 10px;
}
.blanco{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid black 1px;
    margin-bottom: 10px;
}
.azul{
    background-color: rgb(8, 0, 55);
    color:  rgb(8, 0, 55);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 10px;
}
.bordo{
    background-color: rgb(56, 7, 7);
    color: rgb(56, 7, 7);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 10px;
}



.contenedor-de-colores{
    display: flex;
    width: 50%;
    margin-bottom: 10px;
}
.contenedor-de-tama単o{
    display:flex;
    width: 50%;
    margin-bottom: 10px;
}
.tama単o{
    margin-bottom: 10px;
}
.monto-imput{
    margin-bottom: 10px;
}
.contenedor-posicion{
    display: flex;
    width: 50%;

}
.colorr{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 20px;

}
.columna-posicion-ubicacion{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
   
}
.tama単o-img-posi{
    width: 5em;
    margin: 10px;
   
}
.boton-confirmar{
    margin-bottom: 10px;
}






/*-----------------MAIN---FORMULARIO----------------------------------------------------*/









/*-----------------MAIN-----CURSO--------------------------------------------------*/










/*---------------------MAIN-----CONTACTO----------------------------------------------*/










/*-------------------------MAIN---------CALENDARIO--------------------------------------*/

.contenedor-calendario {
    width: 90%;
    margin: 1em auto;
    color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





/*----------------INDEX----------------------------------*/

/*---------CARRUCEL-------*/
.slider {
    width: 90%;
    margin: auto;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.carousel-control-prev {
    left: 0;
}

.portada-tama単o {
    width: 70%;
    position: absolute;


}


.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #000000;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
}

button,
select {
    text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}

/*---------pasos----------*/
.contenedor-pasos {
    display: flex;
    flex-flow: row nowrap;
    place-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paso {
    width: 100%;
    height: 50%;
    margin: 10px;
}

/*---------CUADRITOS-----------------------*/
.contenedor-cuadrito-curso {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;


}

.contenedor-cuadrito {
    width: 275px;
    height: 350px;
    border: solid black 2px;
    border-radius: 20px 0px 30px;

    box-shadow: 8px 11px 18px 0px rgba(190, 170, 207, 1);
    margin: 20px;
    padding: 20px;
    background-color: rgb(152, 106, 175);
    position: relative;
}

.contenedor-img-cuadrito {
    width: 230px;
    height: 230px;
    border-radius: 20px 0px 30px;
    max-width: 100%;



}

.duracion {
    margin: 1px;
    font-family: fantasy;
}

.precio- {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    display: inline-block;
    color: #f3ff00;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 5px 0px;
    top: 16px;
    left: 5px;
}

.contenedor-informacion-cuadrito {
 
    position: relative;
    margin: 5px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.ver-detalle {

    display: block;
    text-align: right;
    margin: 10px 0px 5px 0px;
    color: rgb(255, 255, 255);

}

.tex-curso {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;

}

.tex-curso- {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

}

.hh5 {
    display: inline-block;
    font-family: cursive;
    font-size: 15px;


}

