/*-------------------MAIN-GIFTCARD--------------------------------------------------------------------------------------------------*/
/*--------------body----------------*/
.fondito {
    background-color:rgb(147 102 242 / 19%);
    width: 100%;
}

/*------------------------------*/


/*-------------necesarios para la modificacion---------------------------------------------------------------------------------------*/
/*------------contenedor 1------------------*/
.texto {
    text-align: center;
}

.conte-completo-gf {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    margin-bottom: 190px;
    text-align: center;
    position: relative;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.contenedor1 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 50px;
    /* align-content: flex-end; */
    flex-wrap: nowrap;
    align-items: baseline;
    margin-left: 10%;
}

.axol {
    width: 270px;
    height: 160px;
    margin-top: 30PX;
}

/*-----------vistaprevia es la gif vacia para modificar-------------------*/


.vista-previa {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    /*width: 350px;
    height: 350px;*/
    width: 470px;
    height: 470px;

    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-size: 35px;
    font-style: italic;
    font-weight: 900;
    box-shadow: 10px 10px 34px -2px rgb(35, 0, 25);
}


/*-------------es el texto modificable de la gif-----------------*/
.personalizacion-texto {
    position: relative;
    top: -16px;
    text-shadow: 1px -1px 14px #000;
}

/*-----------es el precio modificable de la gif-------------------*/
.vista-previa-precio {
    font-family: auto;
    font-size: 20px;
    display: inline-block;
    color: #000000;
    position: relative;
    background-color: rgb(255 255 255);
    /* border-radius: 26px 0px; */
    top: 45px;
    left: 271px;
    width: 42%;
    /* height: 9%; */
    text-align: center;
    /* margin: 10px; */
    padding: 10px;
    font-family: fantasy;
}

/*---------parrafo fijo --------------------------------------*/

.parrafo-final {
    margin-top: 48px;
    font-family: fantasy;
    font-size: 29px;
    background-color: #f1f1f1;
}


/*-------
.gif-para {
    position: relative;
    top: -49px;
}

.contenedor-de-gifcard {
    width: 350px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 22px 23px 49px 0px rgba(8, 0, 13, 0.91);
    margin-bottom: 80px;

}
---------*/

/*----------- formulario de la gif --------------------------------------------------------------------------------------------------*/
.contenedor2 {
    display: flex;
    width: 100%;
    position: relative;
    margin-left: 53px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /* margin: 0em 0; */
    margin-bottom: 0.3em;
    align-content: flex-start;
    margin-bottom: 10px;
    align-items: baseline;
}




/*--------------circulo de colores---------------*/
.rosa {
    background-color: rgb(232, 0, 208);
    color: rgb(232, 0, 208);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 10px;
    border: solid black 1px;
}

.negro {
    background-color: black;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 10px;
    border: solid black 1px;
}

.blanco {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid black 1px;
    margin-bottom: 10px;
}

.azul {
    background-color: rgb(25, 0, 164);
    color: rgb(25, 0, 164);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 10px;
    border: solid black 1px;
}

.bordo {
    background-color: rgb(0, 197, 43);
    color: rgb(0, 197, 43);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 10px;
    border: solid black 1px;
}

.contenedor-de-colores {
    display: flex;
    width: 50%;
    margin-bottom: 10px;
    justify-content: center;
}

.contenedor-de-tamaño {
    display: flex;
    width: 50%;
    margin-bottom: 10px;
}

.tamaño {
    margin-bottom: 10px;
}

.monto-imput {
    margin-bottom: 10px;
}

.contenedor-posicion {
    display: flex;
    width: 50%;

}

.color-titulo {
    font-family: fantasy;
    font-size: 30px;
    margin-bottom: 2px;
}

.colorr {
    font-family: monospace;
    font-size: 24px;
    margin-bottom: 2px;
    font-style: italic;

}

.columna-posicion-ubicacion {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.tamaño-img-posi {
    width: 100px;
    margin-bottom: 20px;

}

.boton-confirmar {
    margin-bottom: 10px;
}

#monto {
    font-size: 26px;
    padding: 3px;
    background-color: rgb(199, 171, 234);
}

#nombre {
    font-size: 26px;
    background-color: pink;
    padding: 7px;
    border-radius: 2pc;
}

/*NESESARIO PARA QUE JS FUNCIONE-----------------------------------------------------------------------------------------------------*/
/*------CLASES COLORES DE TEXTO PARA JS--------------*/


.colorfuente1 {
    color: rgb(232, 0, 208);
}

.colorfuente2 {
    color: black;
}

.colorfuente3 {
    color: rgb(255, 255, 255);
}

.colorfuente4 {
    color: rgb(25, 0, 164);
}

.colorfuente5 {
    color: rgb(0, 197, 43);

}

/*--------CLASES POSICIONES DE TEXTO PARA JS---------------------*/

.posi1 {
    border-radius: 0px 60px;
    font-family: auto;
    font-size: 20px;
    display: inline-block;
    color: #000000;
    position: relative;
    background-color: rgb(255 255 255);
    top: 45px;
    left: 1px;
    width: 42%;
    text-align: center;
    padding: 10px;
    font-family: fantasy;
}

.posi2 {
    font-family: auto;
    font-size: 20px;
    display: inline-block;
    color: #000000;
    position: relative;
    background-color: rgb(255 255 255);
    top: 467px;
    left: 2px;
    width: 42%;
    text-align: center;
    padding: 10px;
    font-family: fantasy;
    border-radius: 0px 61px;
}

.posi3 {
    font-family: auto;
    font-size: 20px;
    display: inline-block;
    color: #000000;
    position: relative;
    background-color: rgb(255 255 255);
    top: 45px;
    /* left: 203px; */
    width: 42%;
    text-align: center;
    padding: 10px;
    font-family: fantasy;
    border-radius: 65px 0px;
}



/*---------CLASES TAMAÑO DE TEXTO PARA JS-------------------*/
.tamaño1 {
    font-size: 20px;
}

.tamaño2 {
    font-size: 28px;
}

.tamaño3 {
    font-size: 32px;
}

.tamaño4 {
    font-size: 48px;
}

.tamaño5 {
    font-size: 60px;
}

/*-----------CLASES FONDOS DE TEXTO PARA JS----------------------*/
.fondo1 {
    background-image: url(../img/gif1.jpg);

}

.fondo2 {
    background-image: url(../img/gif2.jpg);

}

.fondo3 {
    background-image: url(../img/gif3.jpg);

}

.fondo4 {
    background-image: url(../img/gif4.jpg);

}

.fondo5 {
    background-image: url(../img/gif5.jpg);

}

.fondo6 {
    background-image: url(../img/gif6.jpg);

}



