/*----------------INDEX----------------------------------*/

/*---------CARRUCEL-------*/
.slider {
    width: 90%;
    margin: auto;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.carousel-control-prev {
    left: 0;
}

.portada-tamaño {
    width: 70%;
    position: absolute;


}


.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #000000;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

/*------------ver------------------------

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
}
------------------------------------------*/

button,
select {
    text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}

/*---------pasos----------*/
.contenedor-pasos {
    display: flex;
    flex-flow: row nowrap;
    place-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paso {
    width: 100%;
    height: 50%;
    margin: 10px;
}

/*---------CUADRITOS-----------------------*/
.contenedor-cuadrito-curso {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    align-content: space-around;

}

.contenedor-cuadrito {
    width: 24%;
    border: solid black 2px;
    border-radius: 20px 0px 30px;
    box-shadow: 8px 11px 18px 0px rgb(46, 8, 80);
    margin: 25px;
    padding: 10px;
    background-color: rgba(130, 110, 203, 0.4);
    position: relative;

}

.contenedor-curso-cuadrito {}

.contenedor-img-cuadrito {
    width: 100%;

    max-width: 100%;
    border-radius: 20px 0px 30px;


}

.duracion {
    margin: 1px;
    font-size: unset;
    font-family: initial;
    width: 100%;
    max-width: 100%;
}


.precio- {
    font-family:fantasy;
    display: inline-block;
    color: #000000;
    position: absolute;
    background-color: rgb(131, 171, 0);
    border-radius: 5px 0px;
    top: 16px;
    left: 5px;
}

.contenedor-informacion-cuadrito {
    position: relative;
    margin: 5px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: -9px;
}

.ver-detalle {

    display: block;
    text-align: right;
    margin: 10px 0px 5px 0px;
    color: rgb(255, 255, 255);

    max-width: 100%;
}

.tex-curso {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    max-width: 100%;

}

.tex-curso- {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

}

.hh5 {
    display: inline-block;
    font-family: fantasy;
    font-size: 100%;
    width: 100%;
    max-width: 100%;

}

.boton-cartelito {
    background-color: rgb(255, 226, 231);
    /* position: relative; */
    top: -14px;
    padding: 4px;
    border-radius: 6em;
    position: relative;
    width: 100%;
    text-decoration: none;
    color: #000000;


}
.boton-cartelito:hover {
    color:white;
    background-color: chocolate;
}
.ppp{
    text-align: center;
    position: relative;
}


